.mobilemenu {
  width: 100%;
  height: auto;
  background-color: var (--blue);
  position: sticky;
  z-index: 2;
  top: 90px;
  display: none;
}

.mobilemenu a {
  padding: 6%;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.mobilemenu a:hover {
  background-color: rgba(251, 255, 0, 0.712);
  color: black;
}

@media screen and (min-width: 508px) {
  .mobilemenu {
    display: none !important;
  }
}
