/* For Mobile */

/* Table Styles */

/*.pricescolumn1 {
  width: 100%;
  padding: 0 1rem;
}

.pricescolumn2 {
  width: 100%;
  padding: 0 1rem;
}

.table {
  text-align: center;
  width: 100%;
  height: 20rem;
  margin-bottom: 1%;
}

th {
  background-color: rgba(227, 252, 1, 0.911);
}

tr:nth-child(even) {
  background-color: rgba(105, 99, 95, 0.438);
}

tr:nth-child(odd) {
  background-color: rgba(236, 225, 218, 0.438);
}
*/
.table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

/* Checkmarks */

.pricescolumn1 li,
h2 {
  list-style-image: url("/images/greenarrow.png");
  font-family: var(--font);
}

/* For tablets and desktops */

@media screen and (min-width: 648px) {
  .prices {
    flex-direction: row;
  }
  .pricescolumn1 {
    width: 40%;
  }
  .pricescolumn2 {
    width: 60%;
  }
}
