:root {
  /* Font */
  --font: "Raleway", sans-serif;
  --writingFont: cursive;

  /* Colours */
  --blue: hsla(236, 100%, 49%, 0.75);
  --white: white;
  --yellow: yellow;
  --grey: rgb(191, 201, 201);

  /* Text Shadow */
  --textShadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
